:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

@font-face {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Lexend_Deca/static/LexendDeca-Regular.ttf");
}

@font-face {
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Bold.ttf");
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-light-gray);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.card-container {
  margin: 5.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  height: 82.875rem;
  flex: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-container__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3rem;
}

.card-container__card:nth-child(1) {
  background-color: var(--bright-orange);
  flex: 1;
}

.card-container__card:nth-child(2) {
  background-color: var(--dark-cyan);
  flex: 1;
}

.card-container__card:nth-child(3) {
  background-color: var(--very-dark-cyan);
  flex: 1;
}

.card-container__card:nth-child(1) button:not(:hover) {
  color: var(--bright-orange);
}

.card-container__card:nth-child(2) button:not(:hover) {
  color: var(--dark-cyan);
}

.card-container__card:nth-child(3) button:not(:hover) {
  color: var(--very-dark-cyan);
}

.card-container__title {
  margin-top: 2.25rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", system-ui;
  font-weight: 700;
  font-size: 2.5rem;
}

.card-container__description {
  margin-top: 26px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 25px;
  color: var(--transparent-white);
}

.card-container__button {
  margin: auto 0 0 0;
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 9999px;
  color: var(--very-light-gray);
  background-color: var(--very-light-gray);
  overflow: visible;
  text-transform: none;
  appearance: button;
  -webkit-appearance: button;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

.card-container__button:hover {
  background-color: transparent;
  outline: 2px solid var(--very-light-gray);
}

@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: row;
    margin: 0 1rem;
    height: 31.25rem;
    max-width: 57.5rem;
  }
}

@media screen and (min-height: 800px) and (min-width: 768px) {
  .card-container {
    margin-top: 2.625rem;
  }
}
